			.content {				
				width:50%;
				margin:auto;
				margin-top:1%;
				border:2px solid black ;
				padding:20px;
				background-color:#3291D1;
				border-radius: 8px;			
					
			}
			input {
				background:#23314C;
				border:2px white solid;
				padding:10px;
				margin-bottom:5px;	
				border-radius: 8px;	
				color:white;				
			}
			input[type=submit]{
				background:#243551;
				color:white;
			} 
			#errorMsg{
				color:red;
			}
			#content{
				clear: both;				
			}	
			h1{text-align:center;  color: #DEEEFD;}
			.main {				
				width:80%;
				margin:auto;
				margin-top:5%;
				border:2px solid black ;
				padding:20px;
				background-color:#3291D1;
				border-radius: 8px;	
				color:white;
			}
			
			/*Table style*/
			table.myTable {					
					color:#333333;	
					margin:auto;					
				}
				table.myTable th {
					border-width: 1px;
					padding: 8px;
					border-style: solid;
					border-color: #666666;
					background-color: #85A1D0;
				}
				table.myTable td {
					border-width: 1px;
					padding: 8px;
					border-style: solid;
					border-color: #666666;
					background-color: #D4ECFD;
				}
				