		#logoDiv{
				height:15%;
				background:#000;
			}
		#nav {
				width: 100%;
				float: left;
				margin: 0 0 3em 0;
				padding: 0;
				list-style: none;
				background-color:#0C73B9;
				border-bottom: 1px solid #ccc; 
				border-top: 1px solid #ccc; 
				}
			#nav li {
				float: left;
				}
			#nav li a {
				display: block;
				padding: 8px 15px;
				text-decoration: none;
				font-weight: bold;
				color: white;
				border-right: 1px solid #ccc; }
			#nav li a:hover {
				color: #c00;
				background-color: #fff;
				}